/* AJUSTES GENERALES */

*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

body{
    margin: 0;
    padding: 0;
}

/* AJUSTES DEL MENU */
header {
    background: black;
    width: 100%;
    position: fixed;
}

.menu{
    height: 70px;
}

/* AJUSTES DEL NAV */
.menu_container{
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 20px;
    float: right;
    align-items: center;
    justify-content: center;
}

/* AJUSTES DEL "ul" */
.menu__links{
    height: 100%;
    display: flex;
}

/* AJUSTES DEL LOGO */
.logo{
    display: block;
    float: left;
    width: 80px;
    height: 80px;
}

/* AJUSTES DE LOS "li" */
.menu__item{
    margin: 12.5px;
    padding: 0;
    list-style: none;
    height: 100%;
    position: relative;
    display: block;
}

/* AJUSTES DE LOS "a" */
.menu__link{
    text-decoration: none;
    padding: 7.5px 7.5px 7.5px 7.5px;
    display: block;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
    transition-timing-function: ease;
}

.menu__link:hover {
    background-color: orange;
    color: black;
    border-radius: 3px;
    transition: background-color 0.75s;
}

/* AJUSTES DEL MENU DESPLEGABLE */

nav ul li .menu__arrow{
    transition: all 0.4s;
    transition-timing-function: ease;
    height: 15px;
    width: 15px;
}

nav ul li:hover .menu__arrow{
    transform: rotate(-90deg);
    transition: all 0.75s;
}

nav li ul{
    display: none;
}

nav li{
    transition: all 0.5s;
    transition-timing-function: ease;
}

.menu__container--show{
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.menu__item--show{
    position: relative;
}

.menu__nesting{
    position: absolute;
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
    top: 70%;
}

nav li:hover > ul{
    display: block;
}

nav ul li .menu__nesting li:hover{
    display: block;
}

.menu__flag{
    height: 25px;
    width: 45px;
    transition: all 0.4s;
    transition-timing-function: ease;
}

.menu__flag:hover{
    background-color: none;
    transform: scale(1.2);
}

.flags__item{
    transition: all 3s;
}
